*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #DEDEDE;
  font-size: 16px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 420px;
  display: inline-block;
  align-items: center;

}

/* Header h1 styling */
h1 {
  font-family: sans-serif;
  font-size: 1.5em;
  display: block;
  padding: 25px;
  text-transform: uppercase;
  text-align: center;
  background-color: red;
}

/* div {
  width: 100%;
} */


/* h3 styling */
h3 {
  font-family: serif;
  font-size: 1.3em;
  padding: 20px;
  display: inline-block;
  background-color: yellow;
}

.preview {
  background-size: cover;
  height: 300px;
  /* width: 420px; */
  margin-bottom: 30px;
}

.baku {
  background-image: url('../images/baku.jpg');
}

.london {
  background-image: url('../images/london.png');
}

.madrid {
  background-image: url('../images/madrid.jpg');
}

.rome {
  background-image: url('../images/rome.jpg');
}


/* playing around with media */
@media (min-width: 575px) {

  .preview {
    float: left;
    height: 300px;
    width: 320px;
    margin: 5px;
    }

  .container {
    width: 100%;
  }
}
